.Dropzone {
  min-height: 272px;
  margin-bottom: 30px;
  border: 1px solid #ccc;
  padding: 5px;

  .dz-preview {
    margin: 5px;

    .dz-image {
      border-radius: 0;
      border: 1px solid #ccc;
      //box-shadow: 1px 1px 5px rgba(0,0,0,0.9);
    }
  }
}
