.ImageField.form-control {
  // Override form-control default style
  border: none;
  height: auto;
  padding: 0;
  box-shadow: none;
  position: relative;

  .wrapper {
    position: relative;
    display: inline-block;
    font-size: 0;
    background-color: #FFF;
    border: solid 1px #dedede;
  }

  img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
  }

  .clearBtn {
    font-size: 14px;
    position: absolute;
    top: 5px;
    right: 5px;
    border: none;
    background: #888;
    border-radius: 10px;
    width: 21px;
    height: 21px;
    padding: 0;
    color: #fff;
    line-height: 13px;
    &:hover {
      background: #F00;
    }
    &:focus {
      outline: 1px dotted #888;
    }
  }

  span {
    position: absolute;
    display: inline-block;
    bottom: 0;
    line-height: 20px;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background: rgba(0,0,0,.5);
    color: #FFF;
    padding: 0 5px;
  }

  input[type=file] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    bottom: 0;
    opacity: 0;
    cursor: pointer;
  }
}
