/* Remove interference from form-control */
.RadioButton.form-control,
.input-group-addon .RadioButton {
  border: none;
  box-shadow: none;
  padding-top: 7px;
  margin-bottom: 0;
  height: 25px;
}

