<Macro name="ButtonDropdown">
  <Param name="items" type="source"/>
  <Param name="label" type="text"/>
  <Param name="id" type="identifier"/>
  <Param name="class" type="text"/>
  <Param name="menuClass" type="text"/>
  <Param name="direction" type="id" default="dropdown" enum="dropdown,dropup"/>

  <div class="{@direction} {@class}">
    <button id={@id}
            class="btn btn-default dropdown-toggle"
            type="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false">
      <If {@icon}><i class={@icon}></i></If>
      {@label}<If {@items}> &nbsp; <span class="caret"></span></If>
    </button>
    <DropdownMenu class={@menuClass} items={@items} labelledBy={@id}/>
  </div>

</Macro>
