<Macro name="MenuLink">
  <Param name="link" type="any"/>
  <Param name="iconClass" type="string"/>

  <If {@link.isActuallyVisible}>
    <If {@link.isGroup}>
      <If {@link.title=='-'}>
        <li role="separator" class="divider"></li>
        <Else>
          <li class="dropdown-header">{@link.title}</li>
        </Else>
      </If>
      <Else>
        <If {@link.isActuallyEnabled}>
          <Link wrapper="li" label={@link.title} href={@link.url} icon={@link.icon} iconClass="{@iconClass}"/>
          <Else>
            <Link wrapper="li" label={@link.title} icon={@link.icon} iconClass="{@iconClass}"/>
          </Else>
        </If>
      </Else>
    </If>
  </If>

</Macro>
