<Macro name="MenuBar">
  <Param name="navigation" type="any"/>
  <Param name="withDropdowns" type="bool"/>
  <Param name="inDropDown" type="bool"/>

  <If {@withDropdowns}>
    <For each=link of={@navigation}>
      <LinkDropdown link={link}/>
    </For>
    <Else>
      <If {@inDropDown}>
        <For each=link of={@navigation}>
          <If {link.title=='-'}>
            <li class="divider"></li>
            <Else>
              <Link wrapper="li"
                    label={link.title}
                    icon={link.icon}
                    href={link.url}
                    hidden={!link.isActuallyVisible}/>
            </Else>
          </If>
        </For>
        <Else>
          <For each=link of={@navigation}>
            <Link wrapper="li"
                  label={link.title}
                  icon={link.icon}
                  href={link.url}
                  active={link.isActive}
                  hidden={!link.isActuallyVisible}/>
          </For>
        </Else>
      </If>
    </Else>
  </If>

</Macro>
